torch
torchaudio
librosa
soundfile
scipy
numpy
matplotlib
pyloudnorm
auraloss
tensorboard
tqdm
pyyaml
git+https://github.com/csteinmetz1/dasp-pytorch.git
pathlib
pandas
pyarrow
huggingface_hub
datasets
